<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' type='text/css' href='/public/css/main.css' />
	<link rel='stylesheet' type='text/css' href='/public/css/anchor.css' />
	<title>IPS</title>
	<link rel="stylesheet" href="https://vectorjs.org/library.css">

</head>
<body>
	<div class="page">
		<div class="body">
			<!-- <canvas id="canvas" class="canvas visualise"></canvas> -->
			<div id="my-interactive" class="interactive" style="background: url('<%= "data:" + map.fileType + ";base64," + map.file %>') no-repeat center #eee; "></div>
			<div id="myText"></div>
      <form id="anchor" class="form" action="/admin/anchor" method="post" onsubmit="submitForm();">
				<h1 class="title">Anchor</h1>
				<br>
  			<input type="" class="option" name="anchorid" value="<%= id %>" placeholder="<%= id %>"	 readonly="readonly"/>
        <br>
        <input type="" class="option visualise coords" name="lon" id="x" value="" placeholder="Longtitude" readonly="readonly"/>
        <input type="" class="option visualise coords" name="lat" id="y" value="" placeholder="Latitude" readonly="readonly"/>
				<br>
				<input class="submit" type="submit">
			</form>
		</div>
	</div>


	<script type="text/javascript">
		var form = document.getElementById('anchor')
	 	var int = document.getElementById("my-interactive");

		function addImageSize() {
			console.log('Image size set');
			// console.log('<%=map.width%>')
			int.style.width = '<%=map.width%>' + 'px';
			int.style.height = '<%=map.height%>' + 'px';
		}

		function injectFile(filePath) {
			var newScript = document.createElement('script');

			newScript.type = 'module';
			newScript.src = filePath;
			document.getElementsByTagName('head')[0].appendChild(newScript);
		}

		// let loading = new Promise((resolve, reject) => {
		// 	console.log('Initial');
		// 	resolve();
		// })
		// .then(() => {
		// 		// throw new Error('Something failed');
		// 		console.log('Do this');
		// })
		// .catch(() => {
		// 		console.error('Do that');
		// })
		// .then(() => {
		// 		console.log('Do this, no matter what happened before');
		// });
		//TODO promise

		window.addEventListener('load', (event) => {
				console.log("Page has been loaded")
				addImageSize()
				setTimeout(() => {injectFile("../drawCS.js");}, 500);
				// console.log(int.style.width + " " + int.style.height)
			});
	
		function submitForm() {
			event.preventDefault();
			form.submit();
		}
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<!-- <script type="module" src="/drawCS.js"></script> -->
	
</body>
</html>
