<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' type='text/css' href='/public/css/main.css' />
	<link rel='stylesheet' type='text/css' href='/public/css/add.css' />
	<link rel='stylesheet' type='text/css' href='/public/css/manage-anchors.css' />
	<title>IPS</title>
</head>
<body>
  <!-- TODO edit profiles and add additional info -->
		<main class="body">
      <% if(anchorid) { %>
        <form id="info" class="form toggle" action="" method="post" onsubmit="updateEntry();">
          <div class="form-heading">
            <h2 class="title">Anchor info</h2>
            <br>
          </div> 
          <div id="my-interactive" class="interactive" style="background: url('<%= "data:" + map.fileType + ";base64," + map.file %>') no-repeat center #eee; "></div>
          <input type="input" class="option info-option" name="x" value="<%= anchors[anchorid].position.coordinates[0] %>"/>
          <input type="input" class="option info-option" name="y" value="<%= anchors[anchorid].position.coordinates[1] %>"/>
          <input type="input" id="anchorid" class="option info-option" name="id" value="<%= anchors[anchorid].anchorID %>"/>
          </br>
          <input style="display:none" type="input" id="anchorid" class="option info-option" name="oldid" value="<%= anchors[anchorid].id %>"/>
          <!-- TODO if main admin - give rights to another -->
          <!-- TODO delete profile -->
          <input class="submit old" type="button" onclick="enableWrite()" value="Change">
          <input class="submit old" type="button" onclick="deleteEntry()" value="Delete">
          </br>
          <input class="submit" type="button" onclick="updateEntry()" value="Update">
        </form>
  
        <% } else { %>
          <img id="img" style="display:block" class="logo toggle" src="/svgs/webmap.svg" alt="-Stay connected-">
      <% } %>
			<div class="main">
        <div class="headings">
          <!-- <div class="headings-picture">
            <img class="nav-icon" src="/svgs/admin.svg">
          </div> -->
          <div class="headings-text">
            <h1>Active anchors</h1>
            <h2>List of all current anchors</h2>
          </div>
        </div>
        <!-- TODO last seen on -->
        
        <div class="list">

          <% for(let i = 0; i < anchors.length; i++) { %>
            <button class="entry" id="admin<%= i %>" value="<%= i %>" onclick="displayEntry();">
              <div class="title">
                <h2>Anchor ID: <%= anchors[i].anchorID%></h2>
              </div>
              <p> X: <%= anchors[i].position.coordinates[0]%>, Y: <%= anchors[i].position.coordinates[1]%></p>
            </button>
          <% } %>

          <button class="entry" onclick="redirectToRegBoard();">
            <img class="nav-icon" src="/svgs/add.svg">  
          </button>

        </div>

        <!-- <input class="submit submit-btn" type="submit"> -->
      </div>

		</main>
	</div>


	<script type="text/javascript">
		let pic = document.getElementById("img")
    let info = document.getElementById("info")
    let oldAdminElements = document.getElementsByClassName('old');
    let formFields = document.getElementsByClassName('info-option');

    readOnly();

    function redirectToRegBoard() {
			location.href = "http://localhost:8080/admin/generate_QR";
    }

    function displayEntry() {
      location.href = "http://localhost:8080/admin/anchors?anchorid=" + event.currentTarget.value
    }

    function deleteEntry() {
      let id = document.getElementById("anchorid")
      location.href = "http://localhost:8080/admin/anchors/delete?anchorid=" + id.value
    }

    function updateEntry() {
      let id = document.getElementById("anchorid")
      let address = "http://localhost:8080/admin/anchors?anchorid=" + event.currentTarget.value
      info.action = address
      submitForm();
    }

		function generateForm() {
			event.preventDefault();

      toggleVisibility(pic);
      toggleVisibility(info);

      hideButtons();
      enableWrite();
		}

    function submitForm() {
      info.submit();
    }

    function hideButtons() {
      for (let i = 0; i < oldAdminElements.length; i++){
        oldAdminElements[i].style.display = 'none';
      }
    }

    function showButtons() {
      for (let i = 0; i < oldAdminElements.length; i++){
        oldAdminElements[i].style.display = 'block';
      }
    }

    function readOnly() {
      for (let i = 0; i < formFields.length; i++) {
        if (!formFields[i].hasAttribute('readonly')) {
          formFields[i].setAttribute('readonly', 'readonly');
        }
      }
    }

    function enableWrite() {
      for (let i = 0; i < formFields.length; i++) {
        if (formFields[i].hasAttribute('readonly')) {
          formFields[i].removeAttribute('readonly');
        }
      }
    }

    function toggleVisibility(elem) {
      if(elem.style.display == "block") {
        elem.style.display = "none"; 
      }
      else if(elem.style.display == "none") {
        elem.style.display = "block";
      }
    }
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
